.page {
  height: 6em;
  margin: 0;
  font-family: sans-serif;
}

.header{
  background-color: black;
  width: 1440px;
  height: 150px;
  flex-shrink: 0;
  text-align: center;
}

.title{
  color: white;
  margin: 0;
  font-size: 4em;
}

.body{
  background: linear-gradient(180deg, #FFF 62.02%, #A5A4A4 100%);

}

.KeyWords{
  color: black;
}

